body {
  background-color: #EEEEEE;

}

hr {
  border-style: dotted none none;
  width: 7%;
  border-color: #182747;
  border-width: 5px;

}

img {
  height: 200px;
}

h1 {
  color: #16213E;
}

h3{
  color: #850E35;
}
